@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 scrollbar-thin antialiased;
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 rounded-md font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500;
  }
  .card {
    @apply bg-slate-900 rounded-lg shadow-md p-4;
  }
  .input-field {
    @apply bg-slate-800 border border-slate-700 rounded-md py-2 px-3 focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-full;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}
